<div class="row">
    <div class="col">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <h1 class="card-header">*ngIf</h1>

            <div class="card-body">
                <div *ngIf="mostrar" class="m-2">
                    <h5 class="card-title">{{frase.autor}}</h5>
                    <p class="card-text">{{frase.mensaje}}</p>
                </div>
                <button (click)="mostrar=!mostrar" class=" btn btn-outline-dark ">Mostrar/Ocultar</button>
            </div>
        </div>
    </div>
    <div class="col ">
        <div class="card text-white bg-info mb-3 " style="max-width: 18rem; ">
            <h1 class="card-header ">*ngFor</h1>

            <div class="card-body ">
                <ul class="list-group ">
                    <li *ngFor="let personaje of personajes; let i =index" class="list-group-item text-dark">{{i+1}} - {{personaje}}</li>
                </ul>
            </div>
        </div>
    </div>